---
---
@import 'bootstrap';

#navbar-logo {
  max-width: 32px;
}
#toc-list, #markdown-toc {
  position: sticky;
  top: 15px;
  @extend .mb-3;
}
div.highlighter-rouge {
  padding: 1rem;
}
pre.highlight {
  background-color: $gray-100;
  @extend .card;
  padding: 1rem;
  margin: 0;
}
